* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CompanyName {
    margin-top: 3%;
    text-align: center;
    font-size: 70pt;
    color: goldenrod;
    text-shadow: 2px 2px red;
    font-family: 'Freehand', cursive;
}

.medium-icons {
    font-size: 25px;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.quick-sign-in {
    background-color: gold;
    box-shadow: 2px 2px red;
    margin-right: 30px;
    padding: 5px;
}

.quick-sign-in ul{
    list-style-type: none;
}

.user-input{
    margin-top: 10px;
}

.login-div {
    background-color: lightcoral;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.innerLogin {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    height: 20%;
    display: flex;
    padding: 10px;
    justify-content: center;
    background-image: radial-gradient(rgb(132, 195, 214), rgb(36, 148, 110));
    box-shadow: 2px 2px 5px black;
}

.innerInnerLogin {
    display: flex;
}

.image-div {
    background-image: url("./assets/images/Symph.gif");
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.sign-up-link {
    padding-top: 5px;
    color: honeydew;
    text-shadow: 1px 1px black;
}



.row {
    margin: 0 25%;
}